@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700&display=swap');


body {
    background-color: #dcdcdc;
}

.App {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    font-family: 'Nunito', sans-serif;
}

.textbox {
    width: 1000px;
    line-height: 3rem;
    border: none;
    border-radius : 5px;
    font-size:  2rem;
    padding: 5px

}
.textbox:focus-visible{
    border: none;
    outline: none;
}
label{padding-right: 75px; font-size: 24px}
img.flag{width: calc(12px * 3); height: calc(12px * 2) ; padding: 0 5px}
a.download{font-size: 26px; margin: 5px; display: inline-block}
input[type=radio]{height:25px; width: 25px}